@import "./base.css";

body {
  display: flex;
  align-items: center;
  background-color: #f0f4ff;
  background-image: linear-gradient(0deg, #f0f4ff 65%, #fffaf0 99%);
  
}

#app {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #3b5f96;
  transition: 0.4s;
  cursor: pointer;
}

a:hover {
  color: #142457;
}
